#conwaygrid {
    position:absolute;
    left:150px;
    top:10px;
}
.cell {
    position:absolute;
    height:18px;
    width:18px;
    border:1px solid black;
    border-left:1px solid #888;
    border-top:1px solid #888;
    background:white;
    display:inline-block;
    margin:0px;
    padding:0px;
}

.alive {
    background:black;
}

button {
    width:100px;
}
#debug {
    background:white;
    border:1px solid red;
    position:absolute;
    left:30px;
    right:30px;
    top:30px;
    bottom:30px;
    display:none;
}